click==6.7
Flask==1.0
Flask-Markdown==0.3
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
Pygments==2.7.4
SQLAlchemy==1.1.11
Werkzeug==0.15.3
WTForms==2.1
