[Unit]
Description=Submit Service for Jupyter Landing Server

[Service]
Type=simple
PIDFile=/var/run/jupyterSubmitDB.pid
ExecStart=/usr/bin/python3 /usr/local/bin/submitDB.py
User=flaskserver
Group=flaskserver

[Install]
WantedBy=multi-user.target