% extends 'base.html'
% set active_page = "cells"
{% block title %}Cells{% endblock %}
% block modals
<div class="modal" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="delModalLabel">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the cell?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <form  style="display: inline;" method="post" action={{ url_for('nbg.list_cells') }}>
            <button name="delete" value="" class="btn btn-primary">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>
% endblock
% block body
    % if cell_list
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        % for cell in cell_list
            <tr>
                <td>{{ cell.name }}</td>
                <td><a class="btn btn-xs btn-default" href="{{ url_for('nbg.view_cell', cell_id=cell.id) }}">View</a>
                    <a class="btn btn-xs btn-default" href="{{ url_for('nbg.edit_cell', cell_id=cell.id) }}">Edit</a>
                    <a class="btn btn-xs btn-default" data-toggle="modal" href="#delModal" data-id="{{ cell.id }}" data-name="{{ cell.name }}">Delete</a>
                </td>
                <td>
                    % if cell.cell_type == 'code'
                    <code>{{ cell.cell_type }}</code>
                    % elif cell.cell_type == 'markdown'
                    <mark>{{ cell.cell_type }}</mark>
                    % else
                    {{ cell.cell_type }}
                    % endif
                </td>
            </tr>
        % endfor
        </tbody>
    </table>
    % endif
    <a class="btn btn-primary" href="{{ url_for('nbg.create_cell') }}" role="button">New Cell</a>
% endblock

% block scripts
<script src="{{ url_for('nbg.static', filename='js/deletemodal.js') }}"></script>
% endblock