% extends 'base.html'
% set active_page = 'notebooks'
% block title
Notebooks
% endblock
% block modals
<div class="modal" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="delModalLabel">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the notebook?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <form  style="display: inline;" method="post" action={{ url_for('nbg.list_notebooks') }}>
            <button name="delete" value="" class="btn btn-primary">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>
% endblock
% block body
% if notebooks
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
        <th>Tasks</th>
    </tr>
    </thead>
    % for nb in notebooks
    <tr>
        <td>{{ nb.name }}</td>
        <td>
            <a class="btn btn-xs btn-default" href="{{ url_for('nbg.generate_notebooks', nb_id=nb.id) }}">Generate</a>
            <a class="btn btn-xs btn-default" href="{{ url_for('nbg.edit_notebook', nb_id=nb.id) }}">Edit</a>
            <a class="btn btn-xs btn-default" data-toggle="modal" href="#delModal" data-id="{{ nb.id }}" data-name="{{ nb.name }}">Delete</a>
        </td>
        <td>
            % for task in nb.tasks
            {{ task.name }}{{ ', ' if not loop.last }}
            % endfor
        </td>
    </tr>
    % endfor
</table>
% endif
% if tasks_exist
<a class="btn btn-primary" href="{{ url_for('nbg.create_notebook') }}" role="button">New Notebook Template</a>
% else
<p>To create a notebook template, you need to create a <a href="{{ url_for('nbg.list_tasks') }}">Task</a> first</p>
% endif
% endblock
% block scripts
<script src="{{ url_for('nbg.static', filename='js/deletemodal.js') }}"></script>
% endblock