/*
Placeholder for custom user CSS
mainly to be overridden in profile/static/custom/custom.css
This will always be an empty file in IPython
*/

div.output_stderr {background-color: white;}
div.output_stderr pre {color: black;}
a {color: #337ab7;}
a:hover, a:focus {color: #23527c;}